datasette>=0.49.1
datasette-haversine
datasette-template-sql>=1.0
datasette-pretty-json
datasette-json-html
datasette-cluster-map
datasette-render-markdown
datasette-atom
requests
sqlite-utils
tqdm
yaml-to-sqlite
GitPython
