<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Niche Museums</title>
    <link rel="stylesheet" href="/static/museums.css">
{% include "_analytics.html" %}
</head>

<body>
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <strong>Niche Museums</strong>
            </a>
        </div>
    </nav>
    <section class="section box content" id="cards">
        <h1 class="title">About Niche Museums</h1>
        <p>I love seeking out and exploring tiny and niche museums.</p>
        <p>Why niche museums? So many reasons:</p>
        <ul>
            <li>Once you start looking, there are museums about <em>everything</em>. And they are everywhere!</li>
            <li>If someone cared enough about something to create a museum, that thing is interesting.</li>
            <li>The smaller the museum is, the more likely you are to meet the person who founded it. These are people you definitely want to meet.</li>
        </ul>
        <p>My aim is to add a new museum to this website on a regular basis. The most recently added museum is always the first item on the homepage.</p>
        <p>The source code for this website is available <a href="https://github.com/simonw/museums">on GitHub</a>. You can read more about how it works in <a href="https://simonwillison.net/2019/Nov/25/niche-museums/">niche-museums.com, powered by Datasette</a>.</p>
        <p><em>Simon Willison</em> - <a href="https://twitter.com/simonw">@simonw</a></p>
    </section>
</body>

</html>
