/*! bulma.io v0.8.0 | MIT License | github.com/jgthms/bulma */

@-webkit-keyframes spinAround {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes spinAround {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(359deg);
  }
}

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button.button-about.is-white.is-outlined {
  border-color: transparent
}
.button.button-atom,
.button.button-atom:hover,
.button.button-atom:active,
.button.button-atom:focus {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.block:not(:last-child),.box:not(:last-child),.content:not(:last-child),.subtitle:not(:last-child),.title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.image.is-16by9 img,.image.is-1by1 img,.image.is-1by2 img,.image.is-1by3 img,.image.is-2by1 img,.image.is-2by3 img,.image.is-3by1 img,.image.is-3by2 img,.image.is-3by4 img,.image.is-3by5 img,.image.is-4by3 img,.image.is-4by5 img,.image.is-5by3 img,.image.is-5by4 img,.image.is-9by16 img,.image.is-square img {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(.5em - 1px);
  padding-left: calc(.75em - 1px);
  padding-right: calc(.75em - 1px);
  padding-top: calc(.5em - 1px);
  position: relative;
  vertical-align: top;
}

.button:active,.button:focus {
  outline: 0;
}

.button[disabled] {
  cursor: not-allowed;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */

body,figure,h1,h2,h3,h4,h5,h6,html,p {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: 400;
}

button {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,::after,::before {
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

th {
  padding: 0;
}

th:not([align]) {
  text-align: left;
}

html {
  background-color: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

article,figure,section {
  display: block;
}

body,button {
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 4.5rem;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

a strong {
  color: currentColor;
}

a:hover {
  color: #363636;
}

img {
  height: auto;
  max-width: 100%;
}

small {
  font-size: .875em;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  color: #363636;
  font-weight: 700;
}

.is-pulled-right {
  float: right!important;
}

.is-size-1 {
  font-size: 3rem!important;
}

.is-size-2 {
  font-size: 2.5rem!important;
}

.is-size-3 {
  font-size: 2rem!important;
}

.is-size-4 {
  font-size: 1.5rem!important;
}

.is-size-5 {
  font-size: 1.25rem!important;
}

.is-size-6 {
  font-size: 1rem!important;
}

.is-size-7 {
  font-size: .75rem!important;
}

@media screen and (max-width:768px) {
  .is-size-1-mobile {
    font-size: 3rem!important;
  }

  .is-size-2-mobile {
    font-size: 2.5rem!important;
  }

  .is-size-3-mobile {
    font-size: 2rem!important;
  }

  .is-size-4-mobile {
    font-size: 1.5rem!important;
  }

  .is-size-5-mobile {
    font-size: 1.25rem!important;
  }

  .is-size-6-mobile {
    font-size: 1rem!important;
  }

  .is-size-7-mobile {
    font-size: .75rem!important;
  }
}

.has-background-white {
  background-color: #fff!important;
}

.has-background-black {
  background-color: #0a0a0a!important;
}

.has-background-dark {
  background-color: #363636!important;
}

.has-background-link {
  background-color: #3273dc!important;
}

.is-block {
  display: block!important;
}

@media screen and (max-width:768px) {
  .is-block-mobile {
    display: block!important;
  }
}

.is-inline {
  display: inline!important;
}

@media screen and (max-width:768px) {
  .is-inline-mobile {
    display: inline!important;
  }
}

.is-inline-block {
  display: inline-block!important;
}

@media screen and (max-width:768px) {
  .is-inline-block-mobile {
    display: inline-block!important;
  }
}

.is-hidden {
  display: none!important;
}

@media screen and (max-width:768px) {
  .is-hidden-mobile {
    display: none!important;
  }
}

.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}

a.box:focus,a.box:hover {
  box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px #3273dc;
}

a.box:active {
  box-shadow: inset 0 1px 2px rgba(10,10,10,.2),0 0 0 1px #3273dc;
}

.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(.5em - 1px);
  text-align: center;
  white-space: nowrap;
}

.button strong {
  color: inherit;
}

.button:hover {
  border-color: #b5b5b5;
  color: #363636;
}

.button:focus {
  border-color: #3273dc;
  color: #363636;
}

.button:focus:not(:active) {
  box-shadow: 0 0 0 .125em rgba(50,115,220,.25);
}

.button:active {
  border-color: #4a4a4a;
  color: #363636;
}

.button.is-white {
  background-color: #fff;
  border-color: transparent;
  color: #0a0a0a;
}

.button.is-white:hover {
  background-color: #f9f9f9;
  border-color: transparent;
  color: #0a0a0a;
}

.button.is-white:focus {
  border-color: transparent;
  color: #0a0a0a;
}

.button.is-white:focus:not(:active) {
  box-shadow: 0 0 0 .125em rgba(255,255,255,.25);
}

.button.is-white:active {
  background-color: #f2f2f2;
  border-color: transparent;
  color: #0a0a0a;
}

.button.is-white[disabled] {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
}

.button.is-white.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.button.is-white.is-outlined:focus,.button.is-white.is-outlined:hover {
  background-color: #fff;
  border-color: #fff;
  color: #0a0a0a;
}

.button.is-white.is-outlined[disabled] {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}

.button.is-black {
  background-color: #0a0a0a;
  border-color: transparent;
  color: #fff;
}

.button.is-black:hover {
  background-color: #040404;
  border-color: transparent;
  color: #fff;
}

.button.is-black:focus {
  border-color: transparent;
  color: #fff;
}

.button.is-black:focus:not(:active) {
  box-shadow: 0 0 0 .125em rgba(10,10,10,.25);
}

.button.is-black:active {
  background-color: #000;
  border-color: transparent;
  color: #fff;
}

.button.is-black[disabled] {
  background-color: #0a0a0a;
  border-color: transparent;
  box-shadow: none;
}

.button.is-black.is-outlined {
  background-color: transparent;
  border-color: #0a0a0a;
  color: #0a0a0a;
}

.button.is-black.is-outlined:focus,.button.is-black.is-outlined:hover {
  background-color: #0a0a0a;
  border-color: #0a0a0a;
  color: #fff;
}

.button.is-black.is-outlined[disabled] {
  background-color: transparent;
  border-color: #0a0a0a;
  box-shadow: none;
  color: #0a0a0a;
}

.button.is-dark {
  background-color: #363636;
  border-color: transparent;
  color: #fff;
}

.button.is-dark:hover {
  background-color: #2f2f2f;
  border-color: transparent;
  color: #fff;
}

.button.is-dark:focus {
  border-color: transparent;
  color: #fff;
}

.button.is-dark:focus:not(:active) {
  box-shadow: 0 0 0 .125em rgba(54,54,54,.25);
}

.button.is-dark:active {
  background-color: #292929;
  border-color: transparent;
  color: #fff;
}

.button.is-dark[disabled] {
  background-color: #363636;
  border-color: transparent;
  box-shadow: none;
}

.button.is-dark.is-outlined {
  background-color: transparent;
  border-color: #363636;
  color: #363636;
}

.button.is-dark.is-outlined:focus,.button.is-dark.is-outlined:hover {
  background-color: #363636;
  border-color: #363636;
  color: #fff;
}

.button.is-dark.is-outlined[disabled] {
  background-color: transparent;
  border-color: #363636;
  box-shadow: none;
  color: #363636;
}

.button.is-link {
  background-color: #3273dc;
  border-color: transparent;
  color: #fff;
}

.button.is-link:hover {
  background-color: #276cda;
  border-color: transparent;
  color: #fff;
}

.button.is-link:focus {
  border-color: transparent;
  color: #fff;
}

.button.is-link:focus:not(:active) {
  box-shadow: 0 0 0 .125em rgba(50,115,220,.25);
}

.button.is-link:active {
  background-color: #2366d1;
  border-color: transparent;
  color: #fff;
}

.button.is-link[disabled] {
  background-color: #3273dc;
  border-color: transparent;
  box-shadow: none;
}

.button.is-link.is-outlined {
  background-color: transparent;
  border-color: #3273dc;
  color: #3273dc;
}

.button.is-link.is-outlined:focus,.button.is-link.is-outlined:hover {
  background-color: #3273dc;
  border-color: #3273dc;
  color: #fff;
}

.button.is-link.is-outlined[disabled] {
  background-color: transparent;
  border-color: #3273dc;
  box-shadow: none;
  color: #3273dc;
}

.button.is-small {
  border-radius: 2px;
  font-size: 16px;
}

.button[disabled] {
  background-color: #fff;
  border-color: #dbdbdb;
  box-shadow: none;
  opacity: .5;
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.buttons .button {
  margin-bottom: .5rem;
}

.buttons:last-child {
  margin-bottom: -.5rem;
}

.buttons:not(:last-child) {
  margin-bottom: 1rem;
}

.buttons.is-right {
  justify-content: flex-end;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

@media screen and (min-width:1024px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width:1216px) {
  .container {
    max-width: 1152px;
  }
}

@media screen and (min-width:1408px) {
  .container {
    max-width: 1344px;
  }
}

.content p:not(:last-child) {
  margin-bottom: 1em;
}

.content h1,.content h2,.content h3,.content h4,.content h5,.content h6 {
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
}

.content h1 {
  font-size: 2em;
  margin-bottom: .5em;
}

.content h1:not(:first-child) {
  margin-top: 1em;
}

.content h2 {
  font-size: 1.75em;
  margin-bottom: .5714em;
}

.content h2:not(:first-child) {
  margin-top: 1.1428em;
}

.content h3 {
  font-size: 1.5em;
  margin-bottom: .6666em;
}

.content h3:not(:first-child) {
  margin-top: 1.3333em;
}

.content h4 {
  font-size: 1.25em;
  margin-bottom: .8em;
}

.content h5 {
  font-size: 1.125em;
  margin-bottom: .8888em;
}

.content h6 {
  font-size: 1em;
  margin-bottom: 1em;
}

.content figure {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}

.content figure:not(:first-child) {
  margin-top: 2em;
}

.content figure:not(:last-child) {
  margin-bottom: 2em;
}

.content figure img {
  display: inline-block;
}

.content.is-small {
  font-size: .75rem;
}

.image {
  display: block;
  position: relative;
}

.image img {
  display: block;
  height: auto;
  width: 100%;
}

.image.is-16by9 img,.image.is-1by1 img,.image.is-1by2 img,.image.is-1by3 img,.image.is-2by1 img,.image.is-2by3 img,.image.is-3by1 img,.image.is-3by2 img,.image.is-3by4 img,.image.is-3by5 img,.image.is-4by3 img,.image.is-4by5 img,.image.is-5by3 img,.image.is-5by4 img,.image.is-9by16 img,.image.is-square img {
  height: 100%;
  width: 100%;
}

.image.is-1by1,.image.is-square {
  padding-top: 100%;
}

.image.is-5by4 {
  padding-top: 80%;
}

.image.is-4by3 {
  padding-top: 75%;
}

.image.is-3by2 {
  padding-top: 66.6666%;
}

.image.is-5by3 {
  padding-top: 60%;
}

.image.is-16by9 {
  padding-top: 56.25%;
}

.image.is-2by1 {
  padding-top: 50%;
}

.image.is-3by1 {
  padding-top: 33.3333%;
}

.image.is-4by5 {
  padding-top: 125%;
}

.image.is-3by4 {
  padding-top: 133.3333%;
}

.image.is-2by3 {
  padding-top: 150%;
}

.image.is-3by5 {
  padding-top: 166.6666%;
}

.image.is-9by16 {
  padding-top: 177.7777%;
}

.image.is-1by2 {
  padding-top: 200%;
}

.image.is-1by3 {
  padding-top: 300%;
}

.image.is-16x16 {
  height: 16px;
  width: 16px;
}

.image.is-24x24 {
  height: 24px;
  width: 24px;
}

.image.is-32x32 {
  height: 32px;
  width: 32px;
}

.image.is-48x48 {
  height: 48px;
  width: 48px;
}

.image.is-64x64 {
  height: 64px;
  width: 64px;
}

.image.is-96x96 {
  height: 96px;
  width: 96px;
}

.image.is-128x128 {
  height: 128px;
  width: 128px;
}

@-webkit-keyframes moveIndeterminate {
  from {
    background-position: 200% 0;
  }

  to {
    background-position: -200% 0;
  }
}

@keyframes moveIndeterminate {
  from {
    background-position: 200% 0;
  }

  to {
    background-position: -200% 0;
  }
}

.subtitle,.title {
  word-break: break-word;
}

.subtitle em,.subtitle span,.title em,.title span {
  font-weight: inherit;
}

.title {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

.title strong {
  color: inherit;
  font-weight: inherit;
}

.title.is-1 {
  font-size: 3rem;
}

.title.is-2 {
  font-size: 2.5rem;
}

.title.is-3 {
  font-size: 2rem;
}

.title.is-4 {
  font-size: 1.5rem;
}

.title.is-5 {
  font-size: 1.25rem;
}

.title.is-6 {
  font-size: 1rem;
}

.title.is-7 {
  font-size: .75rem;
}

.subtitle {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
}

.subtitle strong {
  color: #363636;
  font-weight: 600;
}

.subtitle.is-1 {
  font-size: 3rem;
}

.subtitle.is-2 {
  font-size: 2.5rem;
}

.subtitle.is-3 {
  font-size: 2rem;
}

.subtitle.is-4 {
  font-size: 1.5rem;
}

.subtitle.is-5 {
  font-size: 1.25rem;
}

.subtitle.is-6 {
  font-size: 1rem;
}

.subtitle.is-7 {
  font-size: .75rem;
}

.label {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

.label:not(:last-child) {
  margin-bottom: .5em;
}

.label.is-small {
  font-size: .75rem;
}

.card {
  background-color: #fff;
  box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
}

.card-image {
  display: block;
  position: relative;
}

.card-content {
  background-color: transparent;
  padding: 1.5rem;
}

.card .media:not(:last-child) {
  margin-bottom: 1.5rem;
}

.media {
  align-items: flex-start;
  display: flex;
  text-align: left;
}

.media .content:not(:last-child) {
  margin-bottom: .75rem;
}

.media .media {
  border-top: 1px solid rgba(219,219,219,.5);
  display: flex;
  padding-top: .75rem;
}

.media .media .content:not(:last-child) {
  margin-bottom: .5rem;
}

.media .media .media {
  padding-top: .5rem;
}

.media .media .media+.media {
  margin-top: .5rem;
}

.media+.media {
  border-top: 1px solid rgba(219,219,219,.5);
  margin-top: 1rem;
  padding-top: 1rem;
}

.media-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.media-right {
  margin-left: 1rem;
}

.media-content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
}

@media screen and (max-width:768px) {
  .media-content {
    overflow-x: auto;
  }
}

.navbar {
  background-color: #fff;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}

.navbar.is-white {
  background-color: #fff;
  color: #0a0a0a;
}

.navbar.is-white .navbar-brand .navbar-link,.navbar.is-white .navbar-brand>.navbar-item {
  color: #0a0a0a;
}

.navbar.is-white .navbar-brand .navbar-link:focus,.navbar.is-white .navbar-brand .navbar-link:hover,.navbar.is-white .navbar-brand>a.navbar-item:focus,.navbar.is-white .navbar-brand>a.navbar-item:hover {
  background-color: #f2f2f2;
  color: #0a0a0a;
}

.navbar.is-white .navbar-brand .navbar-link::after {
  border-color: #0a0a0a;
}

@media screen and (min-width:1024px) {
  .navbar.is-white .navbar-end .navbar-link,  .navbar.is-white .navbar-end>.navbar-item {
    color: #0a0a0a;
  }

  .navbar.is-white .navbar-end .navbar-link:focus,  .navbar.is-white .navbar-end .navbar-link:hover,  .navbar.is-white .navbar-end>a.navbar-item:focus,  .navbar.is-white .navbar-end>a.navbar-item:hover {
    background-color: #f2f2f2;
    color: #0a0a0a;
  }

  .navbar.is-white .navbar-end .navbar-link::after {
    border-color: #0a0a0a;
  }
}

.navbar.is-black {
  background-color: #0a0a0a;
  color: #fff;
}

.navbar.is-black .navbar-brand .navbar-link,.navbar.is-black .navbar-brand>.navbar-item {
  color: #fff;
}

.navbar.is-black .navbar-brand .navbar-link:focus,.navbar.is-black .navbar-brand .navbar-link:hover,.navbar.is-black .navbar-brand>a.navbar-item:focus,.navbar.is-black .navbar-brand>a.navbar-item:hover {
  background-color: #000;
  color: #fff;
}

.navbar.is-black .navbar-brand .navbar-link::after {
  border-color: #fff;
}

@media screen and (min-width:1024px) {
  .navbar.is-black .navbar-end .navbar-link,  .navbar.is-black .navbar-end>.navbar-item {
    color: #fff;
  }

  .navbar.is-black .navbar-end .navbar-link:focus,  .navbar.is-black .navbar-end .navbar-link:hover,  .navbar.is-black .navbar-end>a.navbar-item:focus,  .navbar.is-black .navbar-end>a.navbar-item:hover {
    background-color: #000;
    color: #fff;
  }

  .navbar.is-black .navbar-end .navbar-link::after {
    border-color: #fff;
  }
}

.navbar.is-dark {
  background-color: #363636;
  color: #fff;
}

.navbar.is-dark .navbar-brand .navbar-link,.navbar.is-dark .navbar-brand>.navbar-item {
  color: #fff;
}

.navbar.is-dark .navbar-brand .navbar-link:focus,.navbar.is-dark .navbar-brand .navbar-link:hover,.navbar.is-dark .navbar-brand>a.navbar-item:focus,.navbar.is-dark .navbar-brand>a.navbar-item:hover {
  background-color: #292929;
  color: #fff;
}

.navbar.is-dark .navbar-brand .navbar-link::after {
  border-color: #fff;
}

@media screen and (min-width:1024px) {
  .navbar.is-dark .navbar-end .navbar-link,  .navbar.is-dark .navbar-end>.navbar-item {
    color: #fff;
  }

  .navbar.is-dark .navbar-end .navbar-link:focus,  .navbar.is-dark .navbar-end .navbar-link:hover,  .navbar.is-dark .navbar-end>a.navbar-item:focus,  .navbar.is-dark .navbar-end>a.navbar-item:hover {
    background-color: #292929;
    color: #fff;
  }

  .navbar.is-dark .navbar-end .navbar-link::after {
    border-color: #fff;
  }
}

.navbar.is-link {
  background-color: #3273dc;
  color: #fff;
}

.navbar.is-link .navbar-brand .navbar-link,.navbar.is-link .navbar-brand>.navbar-item {
  color: #fff;
}

.navbar.is-link .navbar-brand .navbar-link:focus,.navbar.is-link .navbar-brand .navbar-link:hover,.navbar.is-link .navbar-brand>a.navbar-item:focus,.navbar.is-link .navbar-brand>a.navbar-item:hover {
  background-color: #2366d1;
  color: #fff;
}

.navbar.is-link .navbar-brand .navbar-link::after {
  border-color: #fff;
}

@media screen and (min-width:1024px) {
  .navbar.is-link .navbar-end .navbar-link,  .navbar.is-link .navbar-end>.navbar-item {
    color: #fff;
  }

  .navbar.is-link .navbar-end .navbar-link:focus,  .navbar.is-link .navbar-end .navbar-link:hover,  .navbar.is-link .navbar-end>a.navbar-item:focus,  .navbar.is-link .navbar-end>a.navbar-item:hover {
    background-color: #2366d1;
    color: #fff;
  }

  .navbar.is-link .navbar-end .navbar-link::after {
    border-color: #fff;
  }
}

.navbar>.container {
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
}

.navbar-brand a.navbar-item:focus,.navbar-brand a.navbar-item:hover {
  background-color: transparent;
}

.navbar-item,.navbar-link {
  color: #4a4a4a;
  display: block;
  line-height: 1.5;
  padding: .5rem .75rem;
  position: relative;
}

.navbar-link,a.navbar-item {
  cursor: pointer;
}

.navbar-link:focus,.navbar-link:focus-within,.navbar-link:hover,a.navbar-item:focus,a.navbar-item:focus-within,a.navbar-item:hover {
  background-color: #fafafa;
  color: #3273dc;
}

.navbar-item {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
}

.navbar-item img {
  max-height: 1.75rem;
}

.navbar-content {
  flex-grow: 1;
  flex-shrink: 1;
}

@media screen and (max-width:1023px) {
  .navbar>.container {
    display: block;
  }

  .navbar-brand .navbar-item {
    align-items: center;
    display: flex;
  }

  .navbar-link::after {
    display: none;
  }
}

@media screen and (min-width:1024px) {
  .navbar,  .navbar-end {
    align-items: stretch;
    display: flex;
  }

  .navbar {
    min-height: 3.25rem;
  }

  .navbar-item,  .navbar-link {
    align-items: center;
    display: flex;
  }

  .navbar-item {
    display: flex;
  }

  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }

  .container>.navbar .navbar-brand,  .navbar>.container .navbar-brand {
    margin-left: -.75rem;
  }
}

.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero .navbar {
  background: 0 0;
}

.hero.is-white {
  background-color: #fff;
  color: #0a0a0a;
}

.hero.is-white strong {
  color: inherit;
}

.hero.is-white .title {
  color: #0a0a0a;
}

.hero.is-white .subtitle {
  color: rgba(10,10,10,.9);
}

.hero.is-white .subtitle a:not(.button),.hero.is-white .subtitle strong {
  color: #0a0a0a;
}

.hero.is-white .navbar-item,.hero.is-white .navbar-link {
  color: rgba(10,10,10,.7);
}

.hero.is-white .navbar-link:hover,.hero.is-white a.navbar-item:hover {
  background-color: #f2f2f2;
  color: #0a0a0a;
}

.hero.is-white.is-bold {
  background-image: linear-gradient(141deg,#e6e6e6 0,#fff 71%,#fff 100%);
}

.hero.is-black {
  background-color: #0a0a0a;
  color: #fff;
}

.hero.is-black strong {
  color: inherit;
}

.hero.is-black .title {
  color: #fff;
}

.hero.is-black .subtitle {
  color: rgba(255,255,255,.9);
}

.hero.is-black .subtitle a:not(.button),.hero.is-black .subtitle strong {
  color: #fff;
}

.hero.is-black .navbar-item,.hero.is-black .navbar-link {
  color: rgba(255,255,255,.7);
}

.hero.is-black .navbar-link:hover,.hero.is-black a.navbar-item:hover {
  background-color: #000;
  color: #fff;
}

.hero.is-black.is-bold {
  background-image: linear-gradient(141deg,#000 0,#0a0a0a 71%,#181616 100%);
}

.hero.is-dark {
  background-color: #363636;
  color: #fff;
}

.hero.is-dark strong {
  color: inherit;
}

.hero.is-dark .title {
  color: #fff;
}

.hero.is-dark .subtitle {
  color: rgba(255,255,255,.9);
}

.hero.is-dark .subtitle a:not(.button),.hero.is-dark .subtitle strong {
  color: #fff;
}

.hero.is-dark .navbar-item,.hero.is-dark .navbar-link {
  color: rgba(255,255,255,.7);
}

.hero.is-dark .navbar-link:hover,.hero.is-dark a.navbar-item:hover {
  background-color: #292929;
  color: #fff;
}

.hero.is-dark.is-bold {
  background-image: linear-gradient(141deg,#1f191a 0,#363636 71%,#46403f 100%);
}

.hero.is-link {
  background-color: #3273dc;
  color: #fff;
}

.hero.is-link strong {
  color: inherit;
}

.hero.is-link .title {
  color: #fff;
}

.hero.is-link .subtitle {
  color: rgba(255,255,255,.9);
}

.hero.is-link .subtitle a:not(.button),.hero.is-link .subtitle strong {
  color: #fff;
}

.hero.is-link .navbar-item,.hero.is-link .navbar-link {
  color: rgba(255,255,255,.7);
}

.hero.is-link .navbar-link:hover,.hero.is-link a.navbar-item:hover {
  background-color: #2366d1;
  color: #fff;
}

.hero.is-link.is-bold {
  background-image: linear-gradient(141deg,#1577c6 0,#3273dc 71%,#4366e5 100%);
}

.hero.is-small .hero-body {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.hero-buttons {
  margin-top: 1.5rem;
}

@media screen and (max-width:768px) {
  .hero-buttons .button {
    display: flex;
  }

  .hero-buttons .button:not(:last-child) {
    margin-bottom: .75rem;
  }
}

@media screen and (min-width:769px),print {
  .hero-buttons {
    display: flex;
    justify-content: center;
  }

  .hero-buttons .button:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.hero-foot,.hero-head {
  flex-grow: 0;
  flex-shrink: 0;
}

.hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
}

.section {
  padding: 3rem 1.5rem;
}
/* bulma.io CSS ends here */

body {
  max-width: 800px;
  margin: 0 auto;
}
.distance-away {
  font-size: 0.8em;
  font-weight: bold;
}

.card .content {
  padding-top: 1em;
}

span.permanently-closed {
  display: inline-block;
  background-color: #fff;
  border: 2px solid red;
  padding: 3px 8px;
  border-radius: 6px;
  font-family: courier;
  font-weight: bold;
  transform: rotate(3deg);
  position: absolute;
  top: 12px;
  right: 12px;
}

.hero-body {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

#cards, .smaller-padding-bottom {
    padding-bottom: 1.5rem;
}
.map-section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.articles {
    padding-top: 0;
    padding-bottom: 1.5rem;
}
.articles .title {
    margin-bottom: 0.5rem;
}

.nearby-section {
  padding-top: 0;
  padding-bottom: 0;
}
.nearby-section .card h2 {
  margin-top: 0;
}
.nearby-section .card {
  overflow: hidden;
}
.nearby-section .card img {
  margin-left: 1.5rem;
  clear: both;
  max-width: 40%;
}
@media screen and (max-width:768px) {
  .nearby-section .card h2 {
    font-size: 1.25em;
  }
}


.columns.is-mobile {
    display: flex;
}
.columns:last-child {
    margin-bottom: -.75rem;
}
.columns {
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.75rem;
}
.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
}
.field.has-addons {
    display: flex;
    justify-content: flex-start;
}
.field.has-addons .control:not(:last-child) {
    margin-right: -1px;
}
.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: left;
}
.field.has-addons .control:first-child:not(:only-child) .button, .field.has-addons .control:first-child:not(:only-child) .input, .field.has-addons .control:first-child:not(:only-child) .select select {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.button.is-info {
    background-color: #3298dc;
    border-color: transparent;
    color: #fff;
}
.is-small.input, .is-small.textarea {
    border-radius: 2px;
    font-size: 16px;
}
.input, .textarea {
    box-shadow: inset 0 .0625em .125em rgba(10,10,10,.05);
    max-width: 100%;
    width: 100%;
}
.input, .select select, .textarea {
    background-color: #fff;
    border-color:#dbdbdb;
    border-radius: 4px;
    color:#363636;
}

.button, .file-cta, .file-name, .input, .pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous, .select select, .textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(.5em - 1px);
    padding-left: calc(.75em - 1px);
    padding-right: calc(.75em - 1px);
    padding-top: calc(.5em - 1px);
    position: relative;=
    vertical-align: top;
}
.search-results .input {
  border: 1px solid #ccc;
}
.search-results .input::placeholder {
  color: #333;
}
.field.has-addons .control:last-child:not(:only-child) .button, .field.has-addons .control:last-child:not(:only-child) .input, .field.has-addons .control:last-child:not(:only-child) .select select {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.added-date {
  padding: 1em 0;
  text-align: right;
  font-size: 0.8em;
  opacity: 0.8;
}

.photos {
  padding-top: 0;
  padding-bottom: 1.5rem;
}
.masonry {
  column-gap: 10px;
}
.masonry a {
  display: inline-block;
  /* display: block here caused Safari to sometimes split the margin
    across two columns, resulting in misalingment of the top item in
    a column */
  width: 100%;
  padding-bottom: 6px;
}
@media (min-width: 400px) {
  .masonry {
    column-count: 2;
  }
}
@media (min-width: 600px) {
  .masonry {
    column-count: 3;
  }
}

body.gallery-mode > div,
body.gallery-mode > nav,
body.gallery-mode > section {
  display: none;
}

body.gallery-mode figure {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
body.gallery-mode figure img {
  width: 100%;
  display: block;
  background-color: #aaa;
}
body.gallery-mode figcaption {
  padding: 0.5em 1em;
}


a.gallery-prev,
a.gallery-next {
  display: flex;
  color: white;
  text-shadow: 2px 4px 2px #000;
  height: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  font-weight: bold;
  font-size: 2em;
  width: 10%;
}
a.gallery-next {
  right: 0;
}
a.gallery-prev:hover,
a.gallery-next:hover,
a.gallery-prev:focus,
a.gallery-next:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
a.gallery-prev:active,
a.gallery-next:active {
  background-color: transparent;
}
a.gallery-prev span,
a.gallery-next span {
  margin: auto;
}
a.gallery-close {
  text-align: right;
  padding: 1em 1.5em;
  display: block;
}

figure {
  display: flex;
  flex-direction: column;
}
figure > div {
  position: relative;
}
