<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Niche Museums: Find tiny museums near you</title>
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/browse/feed.atom?_feed_title=Niche+Museums">
    <link rel="stylesheet" href="/css/museums.css">
{% include "_analytics.html" %}
</head>

<body>
    <section class="hero is-dark is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Niche Museums
                </h1>
                <h2 class="subtitle">
                    Find tiny museums <span class="is-hidden-mobile">near you</span>
                    <a class="button button-atom is-small is-pulled-right" href="/browse/feed.atom?_feed_title=Niche+Museums" title="Atom feed"><svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="0 0 256 256">
                        <defs>
                            <linearGradient id="a" x1=".1" x2=".9" y1=".1" y2=".9">
                                <stop offset="0" stop-color="#E3702D" />
                                <stop offset=".1" stop-color="#EA7D31" />
                                <stop offset=".4" stop-color="#F69537" />
                                <stop offset=".5" stop-color="#FB9E3A" />
                                <stop offset=".7" stop-color="#EA7C31" />
                                <stop offset=".9" stop-color="#DE642B" />
                                <stop offset="1" stop-color="#D95B29" />
                            </linearGradient>
                        </defs>
                        <rect width="256" height="256" fill="#CC5D15" rx="55" ry="55" />
                        <rect width="246" height="246" x="5" y="5" fill="#F49C52" rx="50" ry="50" />
                        <rect width="236" height="236" x="10" y="10" fill="url(#a)" rx="47" ry="47" />
                        <circle cx="68" cy="189" r="24" fill="#FFF" />
                        <path fill="#FFF" d="M160 213h-34a82 82 0 0 0-82-82V97a116 116 0 0 1 116 116z" />
                        <path fill="#FFF" d="M184 213A140 140 0 0 0 44 73V38a175 175 0 0 1 175 175z" />
                    </svg></a>
                    <a class="button button-atom is-small is-pulled-right" href="https://twitter.com/nichemuseums" title="Atom feed">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-label="Twitter" role="img" width="14px" height="14px" viewBox="0 0 512 512">
                        <rect width="512" height="512" rx="15%" fill="#1da1f3" />
                        <path fill="#fff" d="M437 152a72 72 0 0 1-40 12 72 72 0 0 0 32-40 72 72 0 0 1-45 17 72 72 0 0 0-122 65 200 200 0 0 1-145-74 72 72 0 0 0 22 94 72 72 0 0 1-32-7 72 72 0 0 0 56 69 72 72 0 0 1-32 1 72 72 0 0 0 67 50 200 200 0 0 1-105 29 200 200 0 0 0 309-179 200 200 0 0 0 35-37" /></svg>
                    </a>
                    <a href="/about" class="button button-about is-small is-outlined is-white is-pulled-right">About <span class="is-hidden-mobile">&nbsp;this site</span></a>
                </h2>
                <div class="columns is-mobile">
                    <div class="column">
                        {% if is_distance_page %}
                        <div class="buttons">
                            <a href="/" class="button is-link is-small">Browse all museums</a>
                        </div>
                        {% else %}
                        <div class="buttons" style="display: none" id="buttons">
                            <button class="button is-link is-small">Use my location</button>
                            <a href="/map" class="button is-link is-small"><span class="is-hidden-mobile">View&nbsp;</span>Map</a>
                        </div>
                        {% endif %}
                    </div>
                    <form action="/browse/search" class="column">
                        <div class="field has-addons is-pulled-right">
                            <div class="control">
                                <input placeholder="Search" type="text" class="input is-small" name="q">
                            </div>
                            <div class="control">
                                <input type="submit" value="🔍" class="button is-small is-info"> </div>
                        </div>
                </div>
                </form>
            </div>
        </div>
        </div>
    </section>
    <section class="section" id="cards">
        {% set show_links = 1 %}
        {% for museum in sql(query) %}
        {% include "_museum_card.html" %}
        {% endfor %}
        {% if not is_distance_page and sql(should_next_query)[0][0] %}
        <a class="button is-pulled-right is-link is-outlined" href="/?next={{ sql(next_query)[0][0] }}">Next page</a>
        {% endif %}
        {% if is_distance_page %}
        <a class="button is-link is-outlined" href="/">Browse all museums</a>
        {% endif %}
    </section>
    <script>
        {% if is_distance_page %}
        // Reverse geocode their lat/lon and show text on page
        let geocodeUrl = `https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat={{ latitude }}&lon={{ longitude }}&zoom=14`;
        fetch(geocodeUrl).then(r => r.json()).then(o => {
            let displayName = o.display_name;
            let section = document.getElementById("cards");
            let h2 = document.createElement("h2");
            h2.innerHTML = `Museums near ${displayName}`;
            h2.className = 'title box is-4';
            section.insertBefore(h2, section.firstChild);
        });
        {% else %}
        if (navigator.geolocation) {
            let buttons = document.getElementById("buttons");
            buttons.style.display = "block";
            buttons.getElementsByTagName("button")[0].onclick = () => {
                window.navigator.geolocation.getCurrentPosition((position) => {
                    window.location = `/?latitude=${position.coords.latitude.toFixed(3)}&longitude=${position.coords.longitude.toFixed(3)}`;
                });
            }
        }
        {% endif %}
    </script>
</body>

</html>
